{% block title %}New Formation{% endblock %}
{% block stylesheets %}

       <link href="{{asset('lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
       <link href="{{asset('lib/animate/animate.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
       <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <h1>Create new Formation</h1>

       {{ include('formation/_form.html.twig')}}

        <a href="{{ path('app_Fourmateur') }}">back to list</a>

{% endblock %}
{% block javascripts %}
    <script src="{{asset('lib/wow/wow.min.js')}}"></script>
    <script src="{{asset('lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{asset('lib/counterup/counterup.min.js')}}"></script>
    <script src="{{asset('lib/owlcarousel/owl.carousel.min.js')}}"></script>
{% endblock %}